article#articlegt aside#tranggiua div#hinhnguoimau1
{
	width: 30vw;
	height: 60vh;
	background:url("../img/tlkhac/hinhgt.png");
	background-repeat: no-repeat;
}
article#articlegt
{
	height: 60vh;
	width: 100vw;
	border: 1px solid #ED0D11;
	margin-top: -2em;
	
}
article#articlegt aside#tranggiua p
{
	width: 60vw;
	height: 40vh;
	margin-top: -58vh;
	margin-left: 30vw;
	font-size: 17px;
}
body
{
	background-color:#FFFCFC;
}
.container
{
	width: 100vw;
}
 