p#phantudiv {
    background: #FFFF;
    padding: 30px;
}

nav#NAV ul li#menu {
    border: 1px dashed gray;
    padding: 5px;
    animation-name: keyframes1;
    animation-duration: 2s;
}

@keyframes keyframes1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}