article#article aside#bentrai section#theochude,
article#article aside#bentrai section#theonhasanxuat {
    margin-top: 1vh;
}

article#article aside#bentrai section#theochude ul li,
article#article aside#bentrai section#theonhasanxuat ul li {
    margin-left: 3em;
    list-style: url("../img/tlkhac/muitendo.gif");
}

.container {
    width: 100vw;
    height: 50vh;
    border: #FC1F23;
}

div#frmdangnhap {
    height: 100vh;
    width: 100vw;
}